<div data-server-rendered="true" id="__nuxt">
    <div id="__layout">
        <div class="l-default">
            <div class="l-default__container is-hidden">
                <div class="l-default__content is-hidden">
                    <header class="c-header u-container">
                        <div class=" c-header__top u-flex u-col@to-7 u-jc-between u-ai-center@7 u-stack-4@to-7 "></div>
                        <h1 class="c-header__title u-text-c">Ave Dominus!</h1>
                        <div class="c-features-bar c-header__bottom"></div>
                    </header>
                    <div class="u-container u-flow">
                        <section id="home" class="section">
                            <article class="u-stack-4 u-stack-8@7">
                                <div class="u-stack-4">
                                    <!-- <h2>BREAKING</h2> -->
                                    <h1 class="u-stack-4"> <span class="u-typo-h1-base u-text-background"> Location of 
                                        Oecoligica found </span> </h1>
                                </div>
                                <p class="u-typo-p-large u-text-underline u-text-justify"> Dear master, </p>
                                <div class="c-read-more is-closed">
                                    <div class="u-grid u-gap u-cols-1 u-cols-2@7 u-text-justify">
                                        <p> We recently got new clues as to where the book of Oecologia might be located... the first breakthrough in years! 
                                            <br /><br />
                                            We kidnapped and ahem... interrogated a professor from the Wizard Academy. He claimed that our wizard ancestors hid the book in the darkness of the Wizard Academy dungeons. It was their intention that no one would ever be able to get hold of it again...
                                            <br /><br />
                                            But we shall avail! Dominus, will retrieve the book for you so you can see your wish come true. 
                                            <br /><br />
                                            Ave Dominus!
                                        </p>
                                    </div>
                                </div>
                            </article> <br><br><br><br>
                            <section id="trailer" class="section">
                                <div class="c-video">
                                    <div class="c-video__content"> <iframe title="video"
                                            src="https://player.vimeo.com/video/1136773" frameborder="0"
                                            allow="autoplay; fullscreen" class="c-video__source"></iframe> </div>
                                </div>
                            </section> <br><br>
                        </section>
                    </div>
                    <footer class="c-footer u-container">
                        <div class="c-features-bar c-footer__bottom">
                            <ul class="c-features-bar__container u-inline-wrap-4">
                                <li class="c-features-bar__item"> <span class="c-icon c-features-bar__icon"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" focusable="false"
                                            aria-hidden="true">
                                            <path d="M.64.64H15.36V15.36H.64Z"></path>
                                        </svg></span>
                                    <p class="c-features-bar__text">Check</p>
                                </li>
                                <li class="c-features-bar__item"> <span class="c-icon c-features-bar__icon"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" focusable="false"
                                            aria-hidden="true">
                                            <path d="M.64.64H15.36V15.36H.64Z"></path>
                                        </svg></span>
                                    <p class="c-features-bar__text">the console</p>
                                </li>
                                <li class="c-features-bar__item"> <span class="c-icon c-features-bar__icon"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" focusable="false"
                                            aria-hidden="true">
                                            <path d="M.64.64H15.36V15.36H.64Z"></path>
                                        </svg></span>
                                    <p class="c-features-bar__text">for a bonus</p>
                                </li>
                            </ul>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>